.one {
    border: 1px solid black;   
    position:relative;
    height:500px;
    width: 100%;
    display: grid;
    justify-items: center;
}

.two {
    border: 1px solid black;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    width: 50%;
    justify-items: space-between;
}

.three {
    width: 50%;
    height: 20%;
    border: 1px solid black;   
    place-self: center;
}


